<div class="well well-lg sectionWell">


       Question: <input type="text" ng-model="newQuestion.question"></br>
       Answer: <input type="text" ng-model="newQuestion.answer">    </br>
       Fake Answer 1: <input type="text" ng-model="newQuestion.fakeAnswer1">  </br>
       Fake Answer 2: <input type="text" ng-model="newQuestion.fakeAnswer2">       </br>
       Fake Answer 3: <input type="text" ng-model="newQuestion.fakeAnswer3">            </br>
       Additional Info: <input type="text" ng-model="newQuestion.additionalInfo">            </br>

    <button class="btn btn-success" ng-click="addQuestion()">Add</button>

</div>